{include file='public/header' /}
	<div class="center-container">
		<div class="bread-nav">
			<span class="first-nav" style="margin-left: 40px;">首页</span>
			<span class="bread-symbol">»</span>
			<span class="first-nav">加盟优势</span>
		</div>
		<div class="advantage">
				<div class="advantage-top">
					<h2>加盟优势</h2>
					<div class="advantage-top-text">
						<span class="advantage-top-hr"></span>
						<p>&nbsp;JOIN&nbsp;THE&nbsp;ADVANTAGE&nbsp;</p>
						<span class="advantage-top-hr"></span>
					</div>
				</div>
				<div class="advantage-center">
					<h3>十大优势，让你加盟无忧</h3>
					<div class="advantage-center-center">
						<div class="advantage-center-left">
							<div class="advantage-left-container">
								<div class="advantage-left-text">
									<p class="advantage-title">品牌优势</p>
									<p class="advantage-desc">全国火热的功能性奶茶饮品店</p>
									<p class="advantage-desc">个性鲜明的品牌形象，风靡全球的时尚风格!</p>
								</div>
								<div class="advantage-left-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/good.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-left-container">
								<div class="advantage-left-text">
									<p class="advantage-title">产品优势</p>
									<p class="advantage-desc">六大类时尚产品广受追捧，紧密把握市场</p>
									<p class="advantage-desc">流行消费趋势，联合研发中心不断开发新品!</p>
								</div>
								<div class="advantage-left-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/yinpin.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-left-container">
								<div class="advantage-left-text">
									<p class="advantage-title">开业指导优势</p>
									<p class="advantage-desc">多年成功的</p>
									<p class="advantage-desc">市场连锁经验，全民有效的提高开店成功率!</p>
								</div>
								<div class="advantage-left-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/search.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-left-container">
								<div class="advantage-left-text">
									<p class="advantage-title">成本优势</p>
									<p class="advantage-desc">强大的全国连锁体系，保证原</p>
									<p class="advantage-desc">材料的品质与价格，最大化的让利于加盟商!</p>
								</div>
								<div class="advantage-left-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/chengben.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-left-container">
								<div class="advantage-left-text">
									<p class="advantage-title">物流优势</p>
									<p class="advantage-desc">作成熟的全国物流体系，根本上</p>
									<p class="advantage-desc">解决原料配送难题，有效降低采购花费成本!</p>
								</div>
								<div class="advantage-left-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/wuliu.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
						</div>
						<div class="advantage-center-image">
							<img src="__STATIC__/index/image/center.png">
						</div>
						<div class="advantage-center-right">
							<div class="advantage-right-container">
								<div class="advantage-right-text">
									<p class="advantage-title">实地考察优势</p>
									<p class="advantage-desc">慎重对待每一家加盟店亲临实地考察市场环境，最大限度规避风险！!</p>
								</div>
								<div class="advantage-right-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/jiancha.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-right-container">
								<div class="advantage-right-text">
									<p class="advantage-title">运营指导优势</p>
									<p class="advantage-desc">一年四季最新推广方案，全年12个月促销流行消费趋势，联合研发中心不断开发新品!</p>
								</div>
								<div class="advantage-right-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/yunying.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-right-container">
								<div class="advantage-right-text">
									<p class="advantage-title">开业指导优势</p>
									<p class="advantage-desc">开业前专业培训，开业中保姆式强化指导，
									开业后系统性提升进修，全称考核包学包会！</p>
								</div>
								<div class="advantage-right-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/peixun.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-right-container">
								<div class="advantage-right-text">
									<p class="advantage-title">市场策划优势</p>
									<p class="advantage-desc">凭借成熟而完善的营
									销模式，针对不同商圈不同时期推出相应促
									销方案，加盟商按照总部要求执行即可盈利！</p>
								</div>
								<div class="advantage-right-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/shichang.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
							<div class="advantage-right-container">
								<div class="advantage-right-text">
									<p class="advantage-title">广告覆盖优势</p>
									<p class="advantage-desc">涵盖全国的网络广告宣传，
									立体化持续化的媒体宣传，针对新地区的加
									盟店辅助一定的宣传，帮助加盟商打开市场！</p>
								</div>
								<div class="advantage-right-icon">
										<div class="advantage-icon">
											<img src="__STATIC__/index/image/shichang.png">
										</div>
										<span class="advantage-center-hr"></span>
								</div>
							</div>
							<div class="clearfloat"></div>
						</div>
						</div>
					</div>
		</div>
		<div class="shop-left">
			<div class="shop-photo">
				<img src="__STATIC__/index/image/shop-small.png">
			</div>
			<div class="shop-text">
				<p class="shop-name">标准型店面：</p>
				<p class="shop-desc">适用范围：实用面积≥15平;门头宽度≥3米，百草柠檬标准店。</p>
				<p class="shop-desc">完美的展现百草柠檬店面风采，让百草柠檬在众多商铺中脱颖而出，提高消费者关注度。</p>
			</div>
		</div>
		<div class="clearfloat"></div>
		<div class="shop-right">
			<div class="shop-photo">
				<img src="__STATIC__/index/image/shop-big.png">
			</div>
			<div class="shop-text">
				<p class="shop-name">豪华型店面：</p>
				<p class="shop-desc">适用范围：实用面积≥30平米，有宽敞的就餐区域</p>
				<p class="shop-desc">适用范围：实用面积≥30平米，有宽敞的就餐区域
顾客可以在店内一边享受纯正的饮品，一边享受店
内免费的WIFI，让自己下午茶生活丰富多彩。。</p>
			</div>
			<div class="clearfloat"></div>
		</div>
		<div class="clearfloat"></div>
{include file='public/footer' /}