{include file='public/header' /}
<div class="center-container">
		<div class="bread-nav">
			<span class="first-nav" style="margin-left: 40px;">首页</span>
			<span class="bread-symbol">»</span>
			<span class="first-nav">关于百草</span>
		</div>
		<div class="about-top"></div>
		<div class="about-center">
			<img src="__STATIC__/index/image/dianpu.png">
			<div class="about-desc">
				<p>百草柠檬，选料精良考究、品质上乘。对众多经典饮品的工艺流程加
以标准化，并在每次的制作过程中都严格遵守，保证奉献给顾客的每一杯
饮品都是纯正的滋味！</p>
<img src="__STATIC__/index/image/about-desc-img.png">
<p>为第一时间向顾客奉上最新的潮流饮品、百草柠檬在总部特设品质研
发中心，专门负责收集、分析来自国际前沿的美食资讯，以健康的理念为
导向，坚持高规格的研发标准，以每年高达30款、约50%的新品开发速度，
不断研制出世界级的美味饮品、为百草柠檬的产品线注入源源不断的活力。</p>
<p>百草柠檬对于原材品质决不妥协，公司斥资百万元建造原材生产基地，
致力于为顾客提供品质最上乘、健康安全的放心产品。</p>
			</div>
			<div class="clearfloat"></div>
		</div>
		<div class="clearfloat"></div>
{include file='public/footer' /}