{include file='public/header'/}

<body>
    <div class="x-body">
        <form class="layui-form" id='form-data'>
            <div class="layui-form-item">
                <label for="column_name" class="layui-form-label">
                    栏目名称
                </label>
                <input type="text" value="{$columnEdit.id}" name="id" hidden>
                <div class="layui-input-inline">
                    <input type="text" id="column_name" name="column_name" value="{$columnEdit.column_name}" required="" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="column_name" class="layui-form-label">
                    栏目链接
                </label>
                <input type="text" value="{$columnEdit.id}" name="id" hidden>
                <div class="layui-input-inline">
                    <input type="text" id="column_link" name="column_link" value="{$columnEdit.column_link}" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button type="button" class="layui-btn" lay-filter="add" lay-submit="">
                    保存
                </button>
            </div>
        </form>
    </div>
    {include file='public/base_js'/}
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;

            //监听提交
            form.on('submit(add)', function (data) {
                push(this, '{:url('column/saveColumn')}', $('#form-data').serialize());
            });


        });
    </script> {include file='public/footer'/}