{include file='public/header' /}
	<div class="center-container">
		<div class="bread-nav">
			<span class="first-nav" style="margin-left: 40px;">首页</span>
			<span class="bread-symbol">»</span>
			<span class="first-nav">关于百草</span>
		</div>
		<div class="flow-container">
			<div class="flow-item">
				<div class="flow-left">咨询</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/time.png">
					<span>电话,网上咨询</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">预约考察</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/yuye.png">
					<span>预约并访问公司总部</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">意向交流</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/hezuo.png">
					<span>加盟意向交流,参阅加盟要求等资料</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">公司评估</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/pinggu.png">
					<span>公司评估是符合加盟要求</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">调研</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/fangwen.png">
					<span>访问品牌旗下门店</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">店面审核</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/shenhe.png">
					<span>店面审核,店址以及商圈,评估加盟可行性</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">签约</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/qianyue.png">
					<span>加盟商通过审核后签订特许经营合同</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">店面形象设计</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/sheji.png">
					<span>公司为加盟店规划,设计整体店面</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">公司培训</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/peixun.png">
					<span>公司提供专业的理论,产业,设备等培训</span>
				</div>
			</div>
			<div class="flow-item">
				<div class="flow-left">正式开业</div>
				<div class="flow-right">
					<img src="__STATIC__/index/image/flow/yunxing.png">
					<span>公司提供专业的一对一开业指导</span>
				</div>
			</div>
		</div>
		<div class="clearfloat"></div>
{include file='public/footer' /}