{include file='public/header' /}
	<div class="center-container">
		<div class="bread-nav">
			<span class="first-nav" style="margin-left: 40px;">首页</span>
			<span class="bread-symbol">»</span>
			<span class="first-nav">利润分析</span>
		</div>
		<div class="analyze-top">
			<img src="__STATIC__/index/image/shop-big.png">
			<div class="analyze-text">
				<p>①加盟費(50000元)</p>
				<p>②合同保证金(10000元),履约可退</p>
				<p>③店内设备50000元左右</p>
				<p>④首批原料9000元左右</p>
				<p>上述合计约12万左右,此费用尚未包含:店铺租金,装修费</p>
			</div>
		</div>
		<div class="clearfloat"></div>
		<div class="table"><img src="__STATIC__/index/image/table.png"></div>
{include file='public/footer' /}